<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=p, initial-scale=1.0">
    <title>Document</title>
    <style>
        .inp {
            color: red;
            font-size: 15px;
            font-family: 'Times New Roman', Times, serif;
        }

        body {
            background-color: lightblue;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            height: 100vh;
        }
    </style>
</head>

<body>
    <div class="container" style="border: 2px solid black; width: 30%; padding: 30px;">
        <h1>Login Form</h1>
        <form>
            <input class="inp" type="text" placeholder="Username">
            <br>
            <input class="inp" type="password" placeholder="Password">
        </form>
    </div>
</body>

</html>